  .banner-container {
    min-width: 100%;
    text-align: center;
    white-space: nowrap;
  }
  @font-face {
    font-family: "GmarketL";
    src: url("/src/font/GmarketLight.ttf");
  }
  @font-face {
    font-family: "GmarketM";
    src: url("/src/font/GmarketMedium.ttf");
  }


  .banner-div {
    background-color: #ececec;
    width: 1350px;
    height: 810px;
    margin-top: 80px;
    border: #ececec solid 50px;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    position: relative;
  }
  .banner-btn {
    white-space: normal;
    text-align: center;
    width: 1350px;
    height: 500px;
  }
  .banner-btn input{
    width: 30px;
    height: 15px;
    margin: 5px;
    display: none;
  }
  #banner-btn1:checked ~ .banner-slide {transform: translate(0px);}
  #banner-btn2:checked ~ .banner-slide {transform: translate(-1350px);}
  #banner-btn3:checked ~ .banner-slide {transform: translate(-2700px);}
  
  .banner-slide-div .left {position: absolute; z-index:1;transform:translateY(320px);padding:50px;cursor: pointer; display: none;}
  .banner-slide-div .right {position: absolute; z-index:1;transform:translateY(320px);padding:50px;cursor: pointer; display: none;}
  .left {left:-20px;background:url('../img/left.jpg') center center / 100% no-repeat;}
  .right {right:-20px;background:url('../img/right.jpg') center center / 100% no-repeat;}
  
  .banner-slide:hover .left {display: inline-block;}
  .banner-slide:hover .right {display: inline-block;}
  
  .banner-slide {
    width: 4150px;
    white-space: nowrap;
    transition: all 0.5s;
    position: relative;
  }
  .banner-slide-div {
    background-color: #383838;
    width: 1350px;
    height: 810px;
    float: left;
    overflow: visible;
    position: relative;
    text-align: center;
  }
  .banner-slide-div img{
    height: 810px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: opacity(70%);
  }


  
  .banner-script-div {
    width: 100px;
    height: 81px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    text-align: center;
    overflow: hidden;
  }
  .banner-script-div h4 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    font-family: "GmarketL";
    font-size: 22px;
    font-weight: 100;
    color: #ffffff;
  }
  
  .banner-script-top-div {
    width: 100px;
    height: 40px;
    display: block;
    text-align: left;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .banner-script-sub-box {
    width: 100px;
    height: 40px;
    display: inline-block;
    position: relative;
  }
  .banner-script-line-box {
    width: 0px;
    height: 40px;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  .banner-script-top-line{
    background-color: #ffffff;
    width: 700px;
    height: 3px;
    position: absolute;
    top: 22px;
    left: -700px;
  }
  .banner-script-bot-line{
    background-color: #ffffff;
    width: 700px;
    height: 3px;
    position: absolute;
    top: 15px;
    right: -700px;
  }
  .banner-script-bot-div {
    width: 100px;
    height: 40px;
    display: block;
    float: right;
    text-align: right;
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .banner-script-con-div {
    width: 9000px;
    height: 0px;
    border-top: #ffffff solid 3px;
    border-bottom: #ffffff solid 3px;
    display: block;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 6200px;
    transform: translate(0,-50%);
    overflow: hidden;
  }
  .banner-script-content {
    vertical-align: top;
    position: relative;
    width: 150px;
    height: 150px;
    display: inline-block;
    text-align: center;
    border-left: #ffffff solid 3px;
  }
  .banner-script-div h3 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    font-family: "GmarketM";
    font-size: 90px;
    font-weight: 900;
    color: #ffffff;
  }

  
  .banner-slide-div:hover .banner-script-con-div {
    height: 150px;
    transform: translate(-13378px,-50%);
    transition: 3s;
  }
  .banner-slide-div:hover .banner-script-div {
    width: 800px;
    height: 236px;
    transition: 1s;
  }
  .banner-slide-div:hover .banner-script-top-div {
    width: 800px;
    transition: 1s;
  }
  .banner-slide-div:hover .banner-script-bot-div {
    width: 800px;
    transition: 1s;
  }
  .banner-slide-div:hover .banner-script-line-box {
    width: 700px;
    transition: 1s;
  }
  @keyframes scriptline1 {
    0%{
      transform: translateX(0px);
    }
    25%{
      transform: translateX(0px);
    }
    68%{
      transform: translateX(700px);
    }
    70%{
      background: #ffffff;
    }
    71%{
      background: none;
    }
    74%{
      background: #ffffff;
    }
    75%{
      background: none;
    }
    77%{
      background: #ffffff;
    }
    78%{
      background: none;
    }
    80%{
      background: #ffffff;
    }
    100%{
      transform: translateX(700px);
      background: #ffffff;
    }
  }
  @keyframes scriptline2 {
    0%{
      transform: translateX(0px);
    }
    25%{
      transform: translateX(0px);
    }
    68%{
      transform: translateX(-700px);
    }
    70%{
      background: #ffffff;
    }
    71%{
      background: none;
    }
    74%{
      background: #ffffff;
    }
    75%{
      background: none;
    }
    77%{
      background: #ffffff;
    }
    78%{
      background: none;
    }
    80%{
      background: #ffffff;
    }
    100%{
      transform: translateX(-700px);
      background: #ffffff;
    }
  }
  .banner-slide-div:hover .banner-script-top-line {
    animation: scriptline1 2.7s ease;
    transform: translateX(700px);
    transition-delay: 5s;
  }
  .banner-slide-div:hover .banner-script-bot-line {
    animation: scriptline2 2.7s ease;
    transform: translateX(-700px);
    transition-delay: 5s;
  }
  




  #first-star {
    color: #142647;
    font-family: "GmarketL";
    font-size: 30px;
    font-weight: 100;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
  }
  @keyframes firststar {
    0% {
      color: #142647;
    }
    2% {
      color: #ffffff;
    }
    19% {
      color: #ffffff;
    }
    34% {
      color: #142647;
    }
  }

  .banner-slide-div:hover #first-star {
    animation: firststar 15s infinite ease;
  }

  .banner-star01 {
    top: 220px;
    left: 310px;
  }
  .banner-star02 {
    top: 330px;
    left: 460px;
  }
  .banner-star03 {
    top: 390px;
    left: 590px;
  }
  .banner-star04 {
    top: 150px;
    left: 720px;
  }
  .banner-star05 {
    top: 270px;
    left: 910px;
  }
  

  @keyframes firstline {
    1% {
      background-color: #142647;
    }
    10% {
      background-color: #ffffff;
    }
    19% {
      background-color: #ffffff;
    }
    34% {
      background-color: #142647;
    }
  }
  #first-line {
    background-color: #142647;
    display: block;
    position: absolute;
  }
  .banner-line01 {
    width: 130px;
    height: 1px;
    top: 290px;
    left: 330px;
    transform: rotate(35deg);
  }
  .banner-line02 {
    width: 100px;
    height: 1px;
    top: 380px;
    left: 490px;
    transform: rotate(27deg);
  }
  .banner-line03 {
    width: 220px;
    height: 1px;
    top: 290px;
    left: 560px;
    transform: rotate(-62deg);
  }
  .banner-line04 {
    width: 180px;
    height: 1px;
    top: 225px;
    left: 740px;
    transform: rotate(32deg);
  }
  .banner-slide-div:hover #first-line {
    animation: firstline 15s infinite ease;
  }



  #second-star {
    color: #142647;
    font-family: "GmarketL";
    font-size: 30px;
    font-weight: 100;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
  }
  @keyframes secondstar {
    33% {
      color: #142647;
    }
    35% {
      color: #ffffff;
    }
    52% {
      color: #ffffff;
    }
    67% {
      color: #142647;
    }
  }
  .banner-slide-div:hover #second-star {
    animation: secondstar 15s infinite ease;
  }

  .banner-star06 {
    top: 410px;
    left: 220px;
  }
  .banner-star07 {
    top: 210px;
    left: 390px;
  }
  .banner-star08 {
    top: 330px;
    left: 590px;
  }
  .banner-star09 {
    top: 400px;
    left: 720px;
  }
  .banner-star10 {
    top: 310px;
    left: 1010px;
  }

  @keyframes secondline {
    34% {
      background-color: #142647;
    }
    43% {
      background-color: #ffffff;
    }
    52% {
      background-color: #ffffff;
    }
    67% {
      background-color: #142647;
    }
  }
  #second-line {
    background-color: #142647;
    display: block;
    position: absolute;
  }
  .banner-line05 {
    width: 209px;
    height: 1px;
    top: 324px;
    left: 215px;
    transform: rotate(-50deg);
  }
  .banner-line06 {
    width: 185px;
    height: 1px;
    top: 285px;
    left: 411px;
    transform: rotate(32deg);
  }
  .banner-line07 {
    width: 100px;
    height: 1px;
    top: 382px;
    left: 620px;
    transform: rotate(29deg);
  }
  .banner-line08 {
    width: 260px;
    height: 1px;
    top: 373px;
    left: 750px;
    transform: rotate(-18deg);
  }
  .banner-slide-div:hover #second-line {
    animation: secondline 15s infinite ease;
  }




  #third-star {
    color: #142647;
    font-family: "GmarketL";
    font-size: 30px;
    font-weight: 100;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
  }
  @keyframes thirdstar {
    66% {
      color: #142647;
    }
    68% {
      color: #ffffff;
    }
    85% {
      color: #ffffff;
    }
    100% {
      color: #142647;
    }
  }
  .banner-slide-div:hover #third-star {
    animation: thirdstar 15s infinite ease;
  }

  .banner-star11 {
    top: 150px;
    left: 280px;
  }
  .banner-star12 {
    top: 120px;
    left: 470px;
  }
  .banner-star13 {
    top: 330px;
    left: 410px;
  }
  .banner-star14 {
    top: 390px;
    left: 540px;
  }
  .banner-star15 {
    top: 290px;
    left: 700px;
  }
  .banner-star16 {
    top: 250px;
    left: 830px;
  }
  .banner-star17 {
    top: 320px;
    left: 910px;
  }
  .banner-star18 {
    top: 200px;
    left: 1090px;
  }

  @keyframes thirdline {
    67% {
      background-color: #142647;
    }
    78% {
      background-color: #ffffff;
    }
    85% {
      background-color: #ffffff;
    }
    100% {
      background-color: #142647;
    }
  }
  #third-line {
    background-color: #142647;
    display: block;
    position: absolute;
  }
  .banner-line09 {
    width: 150px;
    height: 1px;
    top: 148px;
    left: 315px;
    transform: rotate(-8deg);
  }
  .banner-line10 {
    width: 175px;
    height: 1px;
    top: 240px;
    left: 366px;
    transform: rotate(105deg);
  }
  .banner-line11 {
    width: 110px;
    height: 1px;
    top: 380px;
    left: 435px;
    transform: rotate(25deg);
  }
  .banner-line12 {
    width: 160px;
    height: 1px;
    top: 357px;
    left: 556px;
    transform: rotate(-34deg);
  }
  .banner-line13 {
    width: 110px;
    height: 1px;
    top: 283px;
    left: 725px;
    transform: rotate(-18deg);
  }
  .banner-line14 {
    width: 80px;
    height: 1px;
    top: 299px;
    left: 843px;
    transform: rotate(42deg);
  }
  .banner-line15 {
    width: 180px;
    height: 1px;
    top: 278px;
    left: 925px;
    transform: rotate(-35deg);
  }

  .banner-slide-div:hover #third-line {
    animation: thirdline 15s infinite ease;
  }


  /* .banner-star-blink {
    filter: opacity(50%);
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 55%;
    left: 38%;
    transform: translate(-50%,-50%);
  }
  .banner-star-blink img {
    width: 100px;
    height: 100px;
  } */

  .banner-block-box {
    width: 1350px;
    height: 810px;
    position: absolute;
    overflow: hidden;
  }

  .banner-block-box img{
    width: 1350px;
    height: 810px;
    position: absolute;
  }
  .banner-block1 {
    width: 540px;
    height: 810px;
    position: absolute;
  }
  .banner-block1-1 {
    width: 270px;
    height: 810px;
    position: absolute;
    overflow: hidden;
  }
  .banner-block1-1 img {
    top: 405px;
    left: 675px;
  }
  .banner-block1-2 {
    width: 270px;
    height: 270px;
    position: absolute;
    top: 540px;
    left: 270px;
    overflow: hidden;
  }
  .banner-block1-2 img {
    top: -135px;
    left: 405px;
  }

  .banner-block2 {
    width: 810px;
    height: 540px;
    position: absolute;
    left: 270px;
  }
  .banner-block2-1 {
    width: 810px;
    height: 270px;
    position: absolute;
    overflow: hidden;
  }
  .banner-block2-1 img {
    top: 405px;
    left: 405px;
  }
  .banner-block2-2 {
    width: 270px;
    height: 270px;
    position: absolute;
    top: 270px;
    left: 270px;
    overflow: hidden;
  }

  .banner-block3 {
    width: 540px;
    height: 540px;
    position: absolute;
    left: 810px;
  }
  .banner-block3-1 {
    width: 270px;
    height: 270px;
    position: absolute;
    left: 270px;
    overflow: hidden;
  }
  .banner-block3-1 img {
    top: 405px;
    left: -405px;
  }
  .banner-block3-2 {
    width: 540px;
    height: 270px;
    position: absolute;
    top: 270px;
    overflow: hidden;
  }
  .banner-block3-2 img {
    top: 135px;
    left: -135px;
  }

  .banner-block4 {
    width: 810px;
    height: 270px;
    position: absolute;
    top: 540px;
    left: 540px;
    overflow: hidden;
  }
  .banner-block4 img {
    top: -135px;
    left: 135px;
  }
  
  .banner-block5 {
    width: 270px;
    height: 270px;
    position: absolute;
    top: 270px;
    left: 270px;
    overflow: hidden;
    z-index: 5;
  }
  .block-rotate {
    width: 270px;
    height: 270px;
    position: relative;
    overflow: hidden;
  }
  .banner-block5 img {
    top: 135px;
    left: 405px;
  }

  #block-change1:checked ~ .banner-block-box .banner-block1 {
    transform: translateX(-640px);
    transition: 2s;
    transition-delay: 1.5s;
  }
  #block-change1:checked ~ .banner-block-box .banner-block2 {
    transform: translateY(-640px);
    transition: 2s;
    transition-delay: .5s;
  }
  #block-change1:checked ~ .banner-block-box .banner-block3 {
    transform: translateX(640px);
    transition: 2s;
    transition-delay: 1s;
  }
  #block-change1:checked ~ .banner-block-box .banner-block4 {
    transform: translateY(370px);
    transition: 2s;
    transition-delay: 2s;
  }
  
  #block-change1:checked ~ .banner-block-box .banner-block5 {
    transform:translateX(540px);
    transition: 2.5s;
    transition-delay: 1s;
    filter: opacity(0%);
    z-index: 3;
  }
  #block-change1:checked ~ .banner-block-box .block-rotate {
    transform:rotateY(4320deg);
    transition: 5s;
  }





  #block-change2:checked ~ .banner-block-box .banner-block1 {
    transform: translateX(0px);
    transition: 2s;
    transition-delay: 1.3s;
  }
  #block-change2:checked ~ .banner-block-box .banner-block2 {
    transform: translateY(0px);
    transition: 2s;
    transition-delay: 2.3s;
  }
  #block-change2:checked ~ .banner-block-box .banner-block3 {
    transform: translateX(0px);
    transition: 2s;
    transition-delay: 2.8s;
  }
  #block-change2:checked ~ .banner-block-box .banner-block4 {
    transform: translateY(0px);
    transition: 2s;
    transition-delay: 1.8s;
  }
  
  #block-change2:checked ~ .banner-block-box .banner-block5 {
    transform:translateX(0px);
    transition: 2.5s;
    transition-delay: 1s;
    filter: opacity(100%);
    z-index: 5;
  }
  #block-change2:checked ~ .banner-block-box .block-rotate {
    transform:rotateY(-4320deg);
    transition: 5s;
  }



  .banner-block6 {
    width: 540px;
    height: 540px;
    position: absolute;
    top: 270px;
    left: -640px;
  }
  .banner-block6-1 {
    width: 270px;
    height: 540px;
    position: absolute;
    overflow: hidden;
  }
  .banner-block6-1 img {
    top: 135px;
    left: 675px;
  }
  .banner-block6-2 {
    width: 270px;
    height: 270px;
    left: 270px;
    position: absolute;
    overflow: hidden;
  }
  .banner-block6-2 img {
    top: 135px;
    left: 405px;
  }
  .banner-block7 {
    width: 810px;
    height: 270px;
    top: -370px;
    position: absolute;
    overflow: hidden;
  }
  .banner-block7 img {
    top: 405px;
    left: 675px;
  }
  .banner-block8 {
    width: 540px;
    height: 810px;
    position: absolute;
    left: 1450px;
  }
  .banner-block8-1 {
    width: 270px;
    height: 270px;
    position: absolute;
    overflow: hidden;
  }
  .banner-block8-1 img {
    top: 405px;
    left: -135px;
  }
  .banner-block8-2 {
    width: 270px;
    height: 810px;
    left: 270px;
    position: absolute;
    overflow: hidden;
  }
  .banner-block8-2 img {
    top: 405px;
    left: -405px;
  }
  .banner-block9 {
    width: 810px;
    height: 540px;
    position: absolute;
    top: 910px;
    left: 270px;
  }
  .banner-block9-1 {
    width: 270px;
    height: 270px;
    left: 270px;
    position: absolute;
    overflow: hidden;
  }
  .banner-block9-2 {
    width: 810px;
    height: 270px;
    top: 270px;
    position: absolute;
    overflow: hidden;
  }
  .banner-block9-2 img {
    top: -135px;
  }
  .banner-block10 {
    width: 270px;
    height: 270px;
    position: absolute;
    top: 270px;
    left: 270px;
    overflow: hidden;
    filter: opacity(0%);
    z-index: 4;
  }
  .banner-block10 img {
    top: 135px;
    left: -135px;
  }
  #block-change1:checked ~ .banner-block-box .banner-block6 {
    transform: translateX(640px);
    transition: 2s;
    transition-delay: 2.3s;
  }
  #block-change1:checked ~ .banner-block-box .banner-block7 {
    transform: translateY(370px);
    transition: 2s;
    transition-delay: 1.3s;
  }
  #block-change1:checked ~ .banner-block-box .banner-block8 {
    transform: translateX(-640px);
    transition: 2s;
    transition-delay: 1.8s;
  }
  #block-change1:checked ~ .banner-block-box .banner-block9 {
    transform: translateY(-640px);
    transition: 2s;
    transition-delay: 2.8s;
  }
  #block-change1:checked ~ .banner-block-box .banner-block10 {
    transform:translateX(540px);
    transition: 2.5s;
    transition-delay: 1s;
    filter: opacity(100%);
  }




  #block-change2:checked ~ .banner-block-box .banner-block6 {
    transform: translateX(0px);
    transition: 2s;
    transition-delay: 1s;
  }
  #block-change2:checked ~ .banner-block-box .banner-block7 {
    transform: translateY(0px);
    transition: 2s;
    transition-delay: 1.5s;
  }
  #block-change2:checked ~ .banner-block-box .banner-block8 {
    transform: translateX(0px);
    transition: 2s;
    transition-delay: 2s;
  }
  #block-change2:checked ~ .banner-block-box .banner-block9 {
    transform: translateY(0px);
    transition: 2s;
    transition-delay: 0.5s;
  }
  #block-change2:checked ~ .banner-block-box .banner-block10 {
    transform:translateX(0px);
    transition: 2.5s;
    transition-delay: 1s;
    filter: opacity(0%);
  }



  .block-change-button {
    background-color: #ffffff;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index: 5;
  }











  .banner-link-div {
    width: 650px;
    height: 40px;
    position: absolute;
    top: 730px;
    left: 350px;
    text-align: center;
    z-index: 10;
  }
  .banner-link {
    width: 100px;
    height: 30px;
    margin-left: 23px;
    margin-right: 23px;
    display: inline-block;
    text-align: center;
    position: relative;
    
  }
  .banner-link a {
    color: #a1a1a1;
    text-decoration: none;
    position: relative;
    /* border-bottom: #757575 solid 2px; */
    display: inline-block;
    width: 98px;
    height: 30px;
    z-index: 4;
  }
  .banner-link:hover a{
    width: 89px;
    height: 30px;
    border-left: #dfdfdf solid 1px;
    border-right: #dfdfdf solid 1px;
    color: #ffffff;
    text-decoration: none;
    transition: all ease 0.5s;
    /* border-bottom: #ececec solid 3px; */
  }

  .banner-link-effect {
    display: block;
    position: absolute;
    left: 23px;
    top: -13px;
    width: 50px;
    height: 50px;
    transition: all ease 0.3s;
    z-index: 3;
  }
  .banner-link:hover .banner-link-effect {
    border: #eeeeee 2px solid;
    transform: rotate(45deg);
    transition: all ease 0.3s;
  }
  .banner-link-effect2 {
    display: block;
    position: absolute;
    left: 21px;
    top: -15px;
    width: 56px;
    height: 56px;
    transition: all ease 0.3s;
    z-index: 3;
  }
  .banner-link:hover .banner-link-effect2 {
    border: #dfdfdf 1px solid;
    transform: rotate(-135deg);
    transition: all ease 0.3s;
  }

  