
  .curtain-container {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .curtain-div {
    background-color: #ececec;
    width: 1350px;
    height: 910px;
    border: #ececec solid 50px;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
  }
  .curtain-div h2 {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 100;
  }
  .curtain-div p {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
  }
  .curtain-div input {
    display: none;
  }
  #curtain-open:checked ~ .curtain-div1 .curtain-div1-blink {
    width: 1025px;
    transition: 1s;
  }
  #curtain-open:checked ~ .curtain-div2 .curtain-div2-blink {
    width: 520px;
    transition: 1s;
  }
  #curtain-open:checked ~ .curtain-div2 .curtain-div2-left{
    left: -506px;
    transition: 1s;
  }
  #curtain-open:checked ~ .curtain-div3 .curtain-div3-left {
    transform: translateX(-1025px);
    transition: 1s;
  }
  #curtain-open:checked ~ .curtain-switch1 {display: none;}
  #curtain-open:checked ~ .curtain-switch2 {display: block;}

  .curtain-switch1 {
    background-color: #bebebe;
    display: block;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 870px;
    left: 1250px;
    font-weight: 700;
    color: #2c2c2c;
    cursor: pointer;
    z-index: 8;
  }
  .curtain-switch1:hover {
    background-color: #d8d8d8;
    font-size: 17px;
  }
  .curtain-switch2 {
    background-color: #bebebe;
    display: none;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 870px;
    left: 1250px;
    font-weight: 700;
    color: #2c2c2c;
    cursor: pointer;
    z-index: 8;
  }
  .curtain-switch2:hover {
    background-color: #d8d8d8;
    font-size: 17px;
  }

  
  .curtain-div1{
    background-color: #dddddd;
    width: 1350px;
    height: 280px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    text-align: left;
    white-space: nowrap;
  }
  .curtain-div1-circle {
    background-color: #f5f4f4;
    width: 260px;
    height: 260px;
    position: absolute;
    top: 10px;
    left: 30px;
    border-radius: 130px;
    background-image: url(/public/img/snoopy2.png);
    background-size: 160px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
  }
  .curtain-div1-left {
    width: 251px;
    height: 280px;
    position: absolute;
    background:linear-gradient(-110deg, transparent 130px, #7e7e7e 0);
  }
  .curtain-div1-blink {
    width: 0px;
    height: 280px;
    display: inline-block;
    vertical-align: top;
    transition: 2s;
    transition-delay: 0.1s;
  }
  .curtain-div1:hover .curtain-div1-blink {
    width: 1025px;
    transition: 1s;
  }
  .curtain-div1-right {
    width: 1350px;
    height: 280px;
    display: inline-block;
    margin-left: 75px;
    position: relative;
    background:linear-gradient(70deg, transparent 130px, #7e7e7e 0);
    z-index: 2;
  }
  .curtain-div1-right h3{
    position: absolute;
    left: 481px;
    margin-top: 71px;
    font-size: 90px;
    font-weight: 600;
    color: #fdfdfd;
  }
  
  .curtain-div1-sub {
    width: 620px;
    height: 280px;
    position: absolute;
    left: 400px;
    z-index: 1;
    white-space: pre-line;
  }


  .curtain-div2{
    background-color: #dddddd;
    width: 1350px;
    height: 280px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
  }
  .curtain-div2-circle {
    background-color: #f5f4f4;
    width: 260px;
    height: 260px;
    position: absolute;
    top: 10px;
    left: 545px;
    border-radius: 130px;
    background-image: url(/public/img/felix3.png);
    background-size: 160px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
  }
  .curtain-div2-left {
    width: 756px;
    height: 280px;
    display: inline-block;
    position: absolute;
    left: 0px;
    transition: 2s;
    background:linear-gradient(-70deg, transparent 130px, #7e7e7e 0);
    z-index: 2;
    transition-delay: 0.1s;
  }
  .curtain-div2-blink {
    width: 0px;
    height: 280px;
    display: inline-block;
    vertical-align: top;
    transition: 2s;
    transition-delay: 0.1s;
  }
  .curtain-div2-blink2 {
    width: 580px;
    height: 280px;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .curtain-div2:hover .curtain-div2-blink {
    width: 520px;
    transition: 1s;
  }
  .curtain-div2:hover .curtain-div2-left{
    left: -506px;
    transition: 1s;
  }
  .curtain-div2-right {
    width: 790px;
    height: 280px;
    display: inline-block;
    position: relative;
    background:linear-gradient(110deg, transparent 130px, #7e7e7e 0);
    z-index: 2;
  }
  .curtain-div2-sub1 {
    width: 250px;
    height: 280px;
    position: absolute;
    display: inline-block;
    left: 240px;
    z-index: 1;
    white-space: pre-line;
  }
  .curtain-div2-sub2 {
    width: 250px;
    height: 280px;
    position: absolute;
    display: inline-block;
    left: 865px;
    z-index: 1;
    white-space: pre-line;
  }
  .curtain-div2-left h3{
    position: absolute;
    left: 355px;
    margin-top: 71px;
    font-size: 90px;
    font-weight: 600;
    color: #fdfdfd;
  }
  .curtain-div2-right h3{
    position: absolute;
    left: 255px;
    margin-top: 71px;
    font-size: 90px;
    font-weight: 600;
    color: #fdfdfd;
  }



  .curtain-div3{
    background-color: #dddddd;
    width: 1350px;
    height: 280px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
  }
  .curtain-div3-circle {
    background-color: #f5f4f4;
    width: 260px;
    height: 260px;
    position: absolute;
    top: 10px;
    left: 1060px;
    border-radius: 130px;
    background-image: url(/public/img/tom5.png);
    background-size: 190px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
  }
  .curtain-div3-left {
    width: 1275px;
    height: 280px;
    display: inline-block;
    margin-right: 75px;
    position: relative;
    background:linear-gradient(-110deg, transparent 130px, #7e7e7e 0);
    z-index: 2;
    transition: 2s;
    transition-delay: 0.1s;
  }
  .curtain-div3:hover .curtain-div3-left {
    transform: translateX(-1025px);
    transition: 1s;
  }
  .curtain-div3-right {
    width: 250px;
    height: 280px;
    position: absolute;
    left: 1100px;
    background:linear-gradient(70deg, transparent 130px, #7e7e7e 0);
    z-index: 3;
  }
  .curtain-div3-left h3{
    position: absolute;
    left: 543px;
    margin-top: 71px;
    font-size: 90px;
    font-weight: 600;
    color: #fdfdfd;
  }
  .curtain-div3-sub {
    width: 620px;
    height: 280px;
    position: absolute;
    left: 330px;
    z-index: 1;
    text-align: right;
    white-space: pre-line;
  }