
.downlist-container {
    margin-top: 60px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.downlist-div {
    display: inline-block;
    width: 1350px;
    position: relative;
    margin-bottom: 60px;
}
.downlist-div input {
    display: none;
}
.downlist {
    background-color: #535353;
    width: 1350px;
    max-height: 50px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: top;
    text-align: left;
    transition: .5s;
    overflow: hidden;
}
.downlist-sub {
    width: 1350px;
    height: 50px;
}
.downlist h3 {
    margin: 15px;
    margin-left: 40px;
    font-size: 20px;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s;
}
.downlist:hover {
    background-color: #dadada;
}
.downlist:hover h3 {
    color: #3d3d3d;
}


.downlist-content {
    width: 1100px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    white-space: pre-line;
}
.downlist-content p {
    margin-left: 40px;
    color: #575757;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


#downlist1:checked ~ #downlist-list1 {
    max-height: 900px;
    background-color: #dadada;
}
#downlist1:checked ~ #downlist-list1 .downlist-close {
    display: block;
    transition: .3s;
}
#downlist1:checked ~ #downlist-list1 h3 {
    color: #3d3d3d;
}

#downlist2:checked ~ #downlist-list2 {
    max-height: 900px;
    background-color: #dadada;
}
#downlist2:checked ~ #downlist-list2 .downlist-close {
    display: block;
    transition: .3s;
}
#downlist2:checked ~ #downlist-list2 h3 {
    color: #3d3d3d;
}

#downlist3:checked ~ #downlist-list3 {
    max-height: 900px;
    background-color: #dadada;
}
#downlist3:checked ~ #downlist-list3 .downlist-close {
    display: block;
    transition: .3s;
}
#downlist3:checked ~ #downlist-list3h3 {
    color: #3d3d3d;
}

#downlist4:checked ~ #downlist-list4 {
    max-height: 900px;
    background-color: #dadada;
}
#downlist4:checked ~ #downlist-list4 .downlist-close {
    display: block;
    transition: .3s;
}
#downlist4:checked ~ #downlist-list4 h3 {
    color: #3d3d3d;
}

#downlist5:checked ~ #downlist-list5 {
    max-height: 900px;
    background-color: #dadada;
}
#downlist5:checked ~ #downlist-list5 .downlist-close {
    display: block;
    transition: .3s;
}
#downlist5:checked ~ #downlist-list5 h3 {
    color: #3d3d3d;
}


.downlist-close {
    /* background-image: url(/public/img/x1.png);
    background-size: cover; */
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    transition: .3s;
    cursor: pointer;
}
.downlist-close h2 {
    margin-bottom: 15px;
    margin-top: 0;
    margin-left: 7px;
    font-size: 30px;
    color: #3d3d3d;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}













/* https://flyclipart.com/delete-x-png-icon-free-download-x-png-327229 Delete X Png Icon Free Download - X PNG */