.third-container {
    width: 100%;
    height: 600px;
    margin-top: 15px;
    margin-bottom: 60px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.gallery-div {
    background-color: #ececec;
    width: 1350px;
    height: 600px;
    border: #ececec solid 50px;
    display: inline-flex;
    text-align: center;
    overflow: hidden;
}
.gallery-div-sub {
    background-color: #ececec;
    width: 450px;
    height: 600px;
    display: inline-block;
    text-align: center;
    white-space: normal;
}
.gallery-div-sub h2 {
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 30px;
    font-weight: 900;
}
.gallery-div-sub p {
    font-size: 17px;
    font-weight: 300;
    color: #414141;
}
.gallery-div-white {
    background-color: #ececec;
    width: 10px;
    height: 600px;
    display: inline-block;
}
.gallery-div-arrow {
    background-color: #b1e2ee;
    background-image: url(/public/img/right.jpg);
    background-size: 40px;
    background-position: center;
    background-position-y: 225px;
    background-repeat: no-repeat;
    width: 40px;
    height: 600px;
    display: inline-block;
}
.gallery-div-pic-div {
    background-color: #b1e2ee;
    background-image: url(/public/img/tom0.png);
    background-size: 400px;
    background-position-y: 200px;
    background-position-x: 175px;
    background-repeat: no-repeat;
    width: 900px;
    height: 600px;
    display: inline-block;
    text-align: right;
    white-space: normal;
    overflow: hidden;
    z-index: 1;
    transition: 0.7s;
}
.gallery-div-pic1 {
    background-color: #82d2e6;
    background-image: url(/public/img/tom1.png);
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 600px;
    display: inline-block;
    text-align: right;
    white-space: normal;
    z-index: 2;
    transition: 0.7s;
}
.gallery-div-pic1:hover {width: 710px;}
.gallery-div-pic2 {
    background-color: #60c8e2;
    background-image: url(/public/img/tom2.png);
    background-size: 350px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 600px;
    display: inline-block;
    text-align: right;
    white-space: normal;
    z-index: 3;
    transition: 0.7s;
}
.gallery-div-pic2:hover {width: 710px;}
.gallery-div-pic3 {
    background-color: #2eacc9;
    background-image: url(/public/img/tom3.png);
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 600px;
    display: inline-block;
    text-align: right;
    white-space: normal;
    z-index: 4;
    transition: 0.7s;
}
.gallery-div-pic3:hover {width: 710px;}
.gallery-div-pic4 {
    background-color: #1596b3;
    background-image: url(/public/img/tom5.png);
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 600px;
    display: inline-block;
    text-align: right;
    white-space: normal;
    z-index: 5;
    transition: 0.7s;
}
.gallery-div-pic4:hover {width: 700px;}
